
  html{
    font-size: 16px;
  }

  body{
    font-family: 'Raleway', sans-serif;
  }

  .siteWrapper{
    box-shadow: 1px -5px 5px 6px #f8f8f8;
    padding: 0;
  }
/*====== headerNav_Haldmann ======*/

  .navigationSmall{
    width: 100%;
    height: 4rem;
    position: relative;
    background-color: #028090;
    border-top: 2px #05668d solid;
    border-bottom: 2px #05668d solid;
  }

  .navigationSmall span{
    display: block;
    padding: .5rem 1rem;
    color: white;
  }

  .sidenav{
    background:#222;
    height:100%;
    left:0;
    overflow-x:hidden;
    padding-top:60px;
    position:fixed;
    top:0;
    transition:.5s;
    width:0;
    z-index:3;
  }

  .sidenav a{
    color:#818181;
    display:block;
    font-size:25px;
    padding:8px 8px 8px 32px;
    text-decoration:none;
    transition:.3s;
  }
  .sidenav a:hover,.offcanvas a:focus,.offcanvas a:focus{color:#f1f1f1;}

  .sidenav .closebtn,.sidenavR .closebtn{
    font-size:36px;
    margin-left:50px;
    position:absolute;
    right:25px;
    top:0;
  }
/*====== headerNav_Haldmann ======*/


/*====== header_Haldmann ======*/




  .headerLogo{
    width: 100%;
    position: relative;
    background-image: url(../medien/header-logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5.5rem 0rem;
  }

  .headerLogo img{
    display: block;
    width: 32%;
    height: auto;
    margin: 0 auto;
  }

  .sectionLine{
    width: 85%;
    height: 0.15rem;
    background-color: black;
    margin: 0 auto;
    margin-top: 3rem;
    background-color: #c0c0c0;
  }

  .navigationSec{
    width: 100%;
    height: 4rem;
    padding-top: 1.2rem;
    background-color: #028090;
    border-top: 2px #05668d solid;
    border-bottom: 2px #05668d solid;
  }

  .navigationSec ul{
    padding: 0;
    display: block;
    list-style: none;
    text-align: center;
  }

  .navigationSec li{
    color: white;
    display: inline-block;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
  }

  .navigationSec li + li:before{
    content: "/ ";
  }

  .navigationSec a{
    color: white;
  }

  @media (max-width: 992px){
    .headerLogo{
      padding: 3rem 0;
    }
    .headerLogo img{
      width: 65%;
    }
  }

/*====== header_Haldmann ======*/



/*====== projectSec_Haldmann ======*/

  .projectSec{
    width: 100%;
    height: 30rem;
    padding: 0 1rem;
    background-color: #ebebeb;
  }

  .projectBox{
    overflow: hidden;
    margin-top: 2rem;
    padding: 4rem;
    height: 28rem;
  }

  .projectSec h4{
    color: #aaa;
  }

  .projectSec p{
    color: #333;
    text-align: justify;
  }

  .imgContainer {
    position: relative;
    height: 75%;
    width: 100%;
  }

  .projectSec img{
    display: block;
    border: 2.5px #bdbdbd solid;
    width: 100%;
    height: 100%;
  }

  .imgOverlay{
    position: absolute;
    padding: 3rem 2rem;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    border: 2.5px #bdbdbd solid;
    transition: .5s ease;
    background-color: #f0f3bd;
  }

  .imgContainer:hover .imgOverlay {
    opacity: 0.8;
  }

  .morePro{
    height: 4rem;
    padding: 0.9rem;
    background-color: #f0f3bd;
    border-top: 2px #c0c0c0 solid;
    border-bottom: 2px #c0c0c0 solid;
  }

  .morePro button{
    display: block;
    color: white;
    margin: 0 auto;
    padding-left: 4rem;
    padding-right: 4rem;
    background-color: #05668d;
    border-bottom: 2px #555 solid;
    text-decoration: none;
    border-radius: 2px;
    letter-spacing: 0.1rem;
  }

  .morePro button:focus,
  .morePro button:hover{
    background-color: #028090;
    color: white;

  }

/*====== projectSec_Haldmann ======*/



/*====== aboutUs_Haldmann ======*/

.aboutUsSec{
  width: 100%;
  padding: 2rem 1rem;
  height: 30rem;
  background-color: #fff;
}

.aboutUsSec img{
  display: block;
  border: 1.5px #bdbdbd solid;
  width: 100%;
  height: 100%;
}

.aboutUsSec h3{
  color: #028090;
}

.aboutUsSec p{
  padding: .5 0;
  padding-left: 1rem;
}

/*.projectBox{
  overflow: hidden;
  margin-top: 2rem;
  padding: 2.8rem;
  height: 28rem;
}*/

.sectionLine2{
  width: 85%;
  height: 0.15rem;
  background-color: black;
  margin: 0 auto;
  margin-bottom: 4rem;
  background-color: #c0c0c0;
}

/*====== aboutUs_Haldmann ======*/



/*====== footer_Haldmann ======*/


  .footer{
    width: 100%;
    height: 19rem;
    padding: 0 1rem;
    padding-top: 2rem;
    background-color: #ebebeb;
  }

  .footer p{
    line-height: 1.5;
  }


  .mapBox{
    overflow: hidden;
    padding: 2rem 4rem;
    height: 100%;
  }

  .mapContainer {
    height: 80%;
    width: 100%;
  }

  .footer h4{
    color: #028090;
  }


  #map {
  height: 100%;
  width: 100%;
  }

  .endFooter{
    width: 100%;
    height: 4rem;
    padding-top: 1.3rem;
    background-color: #05668d;
    border-top: 2px #028090 solid;
    border-bottom: 2px #028090 solid;
  }

  .endFooter ul{
    padding: 0;
    float: right;
    display: block;
    list-style: none;
    text-align: center;
    margin-right: 5.5rem;
  }

  .endFooter li{
    color: white;
    display: inline-block;
    font-size: .8rem;
    letter-spacing: 0.1rem;
  }

  .endFooter li + li:before{
    content: "| ";
  }

  .endFooter a{
    color: #ebebeb;
  }
/*====== footer_Haldmann ======*/
