---
layout: back-layout
permalink: impressum
backbutton: true
contact: false


impressum:
  - title: Kontaktadresse
    description: Schreinerei Haldmann GmbH <br>
                 Augartenstrasse 99 <br>
                 9204 Andwil SG <br>
                 Tel. 012 345 67 89 <br>
                 info@haldmann-mockup.ch

  - title: Haftungsausschluss
    description: Der Autor übernimmt keinerlei Gewähr hinsichtlich der
                 inhaltlichen Richtigkeit, Genauigkeit, Aktualität,
                 Zuverlässigkeit und Vollständigkeit der Informationen.
                 Haftungsansprüche gegen den Autor wegen Schäden materieller
                 oder immaterieller Art, welche aus dem Zugriff oder der
                 Nutzung bzw. Nichtnutzung der veröffentlichten Informationen,
                 durch Missbrauch der Verbindung oder durch technische
                 Störungen entstanden sind, werden ausgeschlossen.
                 Alle Angebote sind unverbindlich. Der Autor behält es sich
                 ausdrücklich vor, Teile der Seiten oder das gesamte
                 Angebot ohne gesonderte Ankündigung zu verändern,
                 zu ergänzen, zu löschen oder die Veröffentlichung
                 zeitweise oder endgültig einzustellen.



  - title: Haftung für Links
    description: Verweise und Links auf Webseiten Dritter liegen ausserhalb
                 unseres Verantwortungsbereichs Es wird jegliche Verantwortung
                 für solche Webseiten abgelehnt. Der Zugriff und die Nutzung
                 solcher Webseiten erfolgen auf eigene Gefahr des Nutzers
                 oder der Nutzerin.

  - title: Urheberrechte
    description: Die Urheber- und alle anderen Rechte an Inhalten, Bildern,
                 Fotos oder anderen Dateien auf der Website gehören
                 ausschliesslich der Firma <strong>Haldmann Gmbh</strong>
                 oder den speziell genannten Rechtsinhabern.
                 Für die Reproduktion jeglicher Elemente ist die schriftliche
                 Zustimmung der Urheberrechtsträger im Voraus einzuholen.


footer:
 - title:
   map: false

---
<div class="container siteWrapper">
  {% include projects_header_Haldmann.html %}
  {% include impressumSec_Haldmann.html %}
  {% include footer_Haldmann.html %}
</div>
