---
layout: default
contact: true
projectImg:
  - image_path: /medien/beispiel-boden.jpg
    title: Bäder
    description: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invid test'
  - image_path: /medien/beispiel-haustüre.jpg
    title: Haustüren
    description: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo'
  - image_path: /medien/beispiel-küche.jpg
    title: Küchen
    description: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo'
aboutUs:
  image_path: /medien/beispiel-schreiner.jpg
  title: Über uns
  description: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita küche gubergren consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna'
footer:
  - title:
    map: true
  - title: Schreinerei Haldmann
    description: 'Schreinerei Haldmann GmbH <br> Augartenstrasse 99 <br> 9204 Andwil SG <br> Tel. 012 345 67 89 <br> info@haldmann-mockup.ch'
  - title: Öffnungszeiten
    description: 'Mo-Fr: 7.00-17.00 <br> Sa: Geschlossen <br> So: Geschlossen'
---
<div class="container siteWrapper">
  {% comment %}
  {% endcomment %}
  {% include header_Haldmann.html %}
  {% include projectSec_Haldmann.html %}
  {% include aboutUs_Haldmann.html %}
  {% include main_newsSec_Haldmann.html %}
  {% include footer_Haldmann.html %}
</div>
