---
layout: back-layout
permalink: projekte
backbutton: true
contact: false


projectImg:
  - image_path: /medien/beispiel-boden.jpg
    title: Familie Gerber
    description: Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
     sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
     aliquyam erat, sed diam voluptua. At vero eos et accusam et justo

  - image_path: /medien/beispiel-haustüre.jpg
    title: Familie Bucher
    description: Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
     sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
     aliquyam erat, sed diam voluptua. At vero eos et accusam et justo

  - image_path: /medien/beispiel-tisch.jpg
    title: Herr Schai
    description: Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
     sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
     aliquyam erat, sed diam voluptua. At vero eos et accusam et justo

  - image_path: /medien/beispiel-terrasse.jpg
    title: Frau Müller
    description: Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
     sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
     aliquyam erat, sed diam voluptua. At vero eos et accusam et justo

  - image_path: /medien/beispiel-küche.jpg
    title: Frau Zeller
    description: Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
     sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
     aliquyam erat, sed diam voluptua. At vero eos et accusam et justo

  - image_path: /medien/beispiel-bad.jpg
    title: Herr Allensbach
    description: Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
     sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
     aliquyam erat, sed diam voluptua. At vero eos et accusam et justo

  - image_path: /medien/beispiel-tisch.jpg
    title: Familie Keller
    description: Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
     sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
     aliquyam erat, sed diam voluptua. At vero eos et accusam et justo

  - image_path: /medien/beispiel-terrasse.jpg
    title: Familie Gutenberg
    description: Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
     sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
     aliquyam erat, sed diam voluptua. At vero eos et accusam et justo

  - image_path: /medien/beispiel-boden.jpg
    title: Frau Taller
    description: Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
     sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
     aliquyam erat, sed diam voluptua. At vero eos et accusam et justo



footer:
 - title:
   map: false

---
<div class="container siteWrapper">
  {% include projects_header_Haldmann.html %}
  {% include projectSec_Haldmann.html %}
  {% include footer_Haldmann.html %}
</div>
