<section>
  <div class="aboutUsSec row" id="aboutUsSec">
    <div class="aboutTextBox col-xs-12 col-sm-12 col-md-7">
      <div class="aboutTextCenterBox">
        <h3>{{page.aboutUs.title}}</h3>
        <p>{{page.aboutUs.description}}</p>
      </div>
    </div>
    <div class="aboutImgBox col-xs-12 col-sm-12 col-md-5">
      <div class="imgAboutContainer">
        <img src="{{page.aboutUs.image_path}}" alt="{{page.aboutUs.title}}">
      </div>
    </div>
    <div class="sectionLine2"></div>
  </div>
</section>
