<header>
  <div class="navigationSmall visible-xs">
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">☰</span>
    <div id="mySidenav" class="sidenav">
       <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
       <a href="#navigationSec" onclick="closeNav()">Projekte</a>
       <a href="#" onclick="closeNav()">Über uns</a>
       <a href="#" onclick="closeNav()">Kontakt</a>
       <a href="#" onclick="closeNav()">Öffnungszeiten</a>
    </div>
  </div>

  <div class="headerLogo">
    <img src="logo-daten/mockup-haldmann.png" alt="logo-haldmann">
    <div class="sectionLine"></div>
  </div>

  <div class="navigationSec hidden-xs" id="navigationSec">
    <ul>
      <li><a href="#navigationSec">Projekte </a></li>
      <li><a href="#morePro">Über uns </a></li>
      <li><a href="#morePro">Kontakt </a></li>
      <li><a href="#morePro">Öffnungszeiten </a></li>
    </ul>
  </div>
</header>
