
<section>
  <div class="postSec row">
    {% for post in site.posts %}
      <div class="impressumBox col-xs-12 col-sm-12 col-md-12">
        <h3>{{post.title}}</h3>
        <div class="impressumContainer">
            <p class="postDate">{{ post.date | date: '%B %d, %Y' }}</p>
            <p>{{post.excerpt}}</p>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="morePro" id="morePro">
    {% if page.backbutton%}
    <a href="../index.html">
      <button type="button" class="btn">Zurück</button>
    </a>
    {% endif %}
  </div>
</section>
