<header>
  <div class="navigationSmall visible-xs">
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">☰</span>
    <div id="mySidenav" class="sidenav">
       <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
       <a href="../index.html" onclick="closeNav()">Hauptseite</a>
    </div>
  </div>

  <div class="headerLogo">
    <img src="../logo-daten/mockup-haldmann.png" alt="logo-haldmann">
    <div class="sectionLine"></div>
  </div>

  <div class="navigationSec" id="navigationSec">
    <ul class="hidden-xs">
      <li><a href="../index.html">Zurück zum Hauptseite </a></li>
    </ul>
  </div>
</header>
